@media screen and (min-width: 768px) {
    main{
        width: 450px;
        padding: 20px 30px;
    }

    summary{
        font-size: 20px;
        margin: 10px 0;
    }

    p{
        font-size: 18px;
    }

    ul > li, ol > li{
        font-size: 16px;

    }
}

@media screen and (min-width: 992px){
    main{
        width: 600px;
    }
    
}
