@media screen and (min-width: 500px) {
    main{
        width: 450px;
    }

    h2{
        font-size: 24px;
    }

    main p{
        font-size: 22px;
    }

    input{
        width: 300px;
    }

    footer p {
        font-size: 20px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    main{
        width: 600px;
    }
}