@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #34a893c1, #139e84c1);
}

h1{
    margin-top: 50px;
    text-align: center;
}

section{
    max-width: 400px;
    height: auto;
    margin: auto;

    padding: 20px 10px;

    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #00000061;

}

p{
    text-align: center;
    line-break: auto;
    max-width: 300px;
    margin: auto;
    padding: 10px;
}

p > label{
    font-weight: bold;
}

p#extra{
    text-align: justify;
    line-height: 1.5em;
}

input.dados{
    height: 15px;
    padding: 10px;

    border-radius: 10px;
}

.botao{
    height: 30px;
    padding: 5px 10px;
    margin: 0 10px;

    border-radius: 5px;
    box-shadow: 2px 2px 2px #0000006c;
}

.botao:hover{
    background-color: #00A889;
}

.botao:active{
    background-color: #005C4B;
}

footer{
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

#resposta{
    margin-top: 20px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: yellow;
    text-decoration: underline;
}

a:active{
    color: red;
    text-decoration: underline;
}