@media screen and (min-width: 1200px) {
    main{
        width: 100vw;
        height: 100vh;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div{
        width: 500px;
        height: 500px;
        
        display: flex;
        flex-direction: column;
    }

    div#tela-login{
        height: 500px;
    }

    div#tela-login h1{
        margin: 50px 0;
    }

    div#tela-login p{
        font-size: 18px;
    }

    div#tela-imagem{
        height: 500px;
    }

    div#tela-imagem h2{
        font-size: 30px;
    }

    div#tela-imagem span{
        font: 16px;
    }
    
}