@charset "UTF-8";

@font-face {
    font-family: "ds-digital";
    src: url("../fonte/DS-DIGIT.TTF");
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

header{
    margin: 20px auto 5px auto;
}

h1{
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

main{
    height: 65vh;
}

div#resultado{
    width: 300px; 
    margin: 20px auto;

    border-radius: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

div > p#p-relogio{
    font-family: "ds-digital";
    font-size: 5em;
    text-align: center;

    color: #ff0000;
}

div > p#data-completa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    color: #ffffff; 
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 10px;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
}

a:hover{
    color: #ffff00;
    text-decoration: underline;
}

a:active{
    color: #ff0000;
}

