@charset "UTF-8";

@import url("links-botoes.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
}

main{
    width: 300px;
    padding: 20px;
    margin: 10px auto;
    background-color: white;
}

#nome-destaque{
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

/* dados de endereço - topo*/
div#dados{
    width: 100%;
    margin: 5px 0 5px 5px;
}

article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

picture > img{
    width: 70px;
    height: 80px;
    object-fit: cover;
}

.dados-pessoais{
    width: 100%;
    flex-wrap: wrap;
}

.dados-pessoais > section{
    width: 100%;
}

.div-espaco{
    width: 100%;   
    margin-bottom: 12px;
}

.div-curso{
    width: 100%;
    margin-bottom: 12px;
}

.dados-pessoais-input{
    width: 55%;
}

fieldset{
    padding: 5px;
    margin-top: 15px;

    border: 1px solid rgb(0, 0, 50);
    border-radius: 7px;
}

legend{
    color:  rgb(5, 5, 81);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
}

label{
    font-size: 14px;
    font-weight: bold;
}

input{
    font-size: 12px;
    margin-left: 5px;

    border: none;
    outline: none;
}

.inputLargo{
    width: 70%;
}

input:focus-visible{
    border-bottom: 1px solid black;
}

.input-curto{
    width: 70%;
}

.trabalho{
    margin-bottom: 12px;
}

p{
    width: 100%;
    margin: 0 5px 1px 5px;
}

p#texto-editavel{
    text-align: justify;
    text-indent: 30px;
    line-height: 20px;

    padding: 0 5px 0 0;
}

.mt{
    margin-top: 12px;
}