/* ajuste no LEGEND */
@media screen and (min-width: 500px) {
    #nome-destaque{
        font-size: 21px;
    }

    main{
        width: 450px;
    }

    .file-button{
        display: flex;
    }

    p{
        font-size: 12px;
        margin-bottom: 5px;
    }

    .icontatos{
        width: 70%;
    }
}

/* Telas de tablet */
@media screen and (min-width: 768px) {
    #nome-destaque{
        text-align: left;
        font-size: 26px;
    }

    main{
        width: 570px;
    }

    form{
        width: 100%;
    }

    .dados-pessoais > section{
        width: 50%;
    }
    
    .div-espaco{
        width: 50%;   
    }

    input{
        font-size: 14px;
    }

    legend{
        text-align: left;
        margin: 0 10px;
        padding: 0 5px;
    }

    p{
        font-size: 14px;
    }
}

/* Telas de computador */
@media screen and (min-width: 992px) {
    #nome-destaque{
        font-size: 28px;
    }

    main{
        width: 620px;
    }
}

/* Telas grandes */
@media screen and (min-width: 1200px) {
    #nome-destaque{
        font-size: 28px;
    }

    label{
        font-size: 14px;
    }

    input{
        font-size: 14px;
    }

    .dados-pessoais{
        display: flex;
        justify-content: space-between;
    }

    .esquerda > input{
        width: 45%;
    }

    .direita > input{
        width: 55%;
    }

    .inputLargo{
        width: 70%;
    }

    .input-curto{
        width: 50%;
    }

    legend{
        font-size: 18px;
        padding: 0 10px;
    }
    
    p#texto-editavel{
        font-size: 16px;
    }

    a{
        font-size: 16px;
    }
}

@media print {

    #nome-destaque{
        text-align: left;
        font-size: 32px;
    }

    .icontatos{
        width: 75%;
    }

    main{
        width: 100vw;
        margin: 0 auto;
        box-shadow: none;
    }

    article{
        display: flex;
        justify-content: space-between;
    }

    .dados-pessoais > section{
        width: 50%;
    }
    
    .div-espaco{
        width: 50%;   
    }

    .div-curso{
        width: 100%;
        margin-bottom: 12px;
    }

    .inputLargo{
        width: 70%;
    }

    article > div > picture:empty > img{
        display: none;
    }

    .file-button{
        display: none;
    }

    legend{
        text-align: left;
        margin: 0 10px;
        padding: 0 5px;
    }

    .dados-pessoais{
        display: flex;
        justify-content: space-between;
    }

    .esquerda > input{
        width: 40%;
    }

    .direita > input{
        width: 50%;
    }

    p{
        font-size: 13px;
        width: 90%;
    }

    label{
        font-size: 14px;
    }

    input{
        font-size: 14px;
    }

    #adicionar{
        display: none;
    }

    a{
        display: none;
    }

    button{
        display: none;
    }
    footer{
        display: none;
    }
}
